# Alaskan department of fish and game

Data Sources:

- Substinence data (ADF&G): https://adfg-ak-subsistence.shinyapps.io/CSIS-Data-Downloader/
- Borough and census areas (DCRA): https://dcra-cdo-dcced.opendata.arcgis.com/datasets/d748e3b58c654b64825f974c25b3c697_0/explore
- Unemployment (Laborstats): https://live.laborstats.alaska.gov/labforce/csv/AKlaborforce.csv

In [1]:
import os
import pandas as pd

In [2]:
adfg_path = '../../data/alaska_department_of_fish_and_game'

file_list = []
for file in os.walk(adfg_path):
    file_list.append(file)
    
# get the actual list from the touple
file_list = file_list[0][2]
file_list = [os.path.join(adfg_path, file) for file in file_list]

In [3]:
file_list.sort()
file_list
# file_list.pop(0)

['../../data/alaska_department_of_fish_and_game/2025-02-05 22_30_41.432418.csv',
 '../../data/alaska_department_of_fish_and_game/Alaska_Rental_Activity_By_Area.csv',
 '../../data/alaska_department_of_fish_and_game/Alaska_Statewide_Wages_2023.csv',
 '../../data/alaska_department_of_fish_and_game/Single-Family_Alaska_Loan_Activity_By_Area.csv',
 '../../data/alaska_department_of_fish_and_game/ces_010000000.csv']

In [4]:
file_list

['../../data/alaska_department_of_fish_and_game/2025-02-05 22_30_41.432418.csv',
 '../../data/alaska_department_of_fish_and_game/Alaska_Rental_Activity_By_Area.csv',
 '../../data/alaska_department_of_fish_and_game/Alaska_Statewide_Wages_2023.csv',
 '../../data/alaska_department_of_fish_and_game/Single-Family_Alaska_Loan_Activity_By_Area.csv',
 '../../data/alaska_department_of_fish_and_game/ces_010000000.csv']

## Use the substinence activity dataset as base

In [5]:
substinence_activity_df = pd.read_csv(os.path.join(adfg_path, '2025-02-05 22_30_41.432418.csv'))

In [6]:
community_names = substinence_activity_df['commname'].unique().tolist()
len(community_names)

284

### Select resouces to keep
Starting from the fundemental file in my analysis, the one encompassing substinence activities, I will cut down the amount of resources to fundemental ones: total Plants/Greens/Mushrooms, Fish, Land Mammals, Marine Mammals, Birds and Eggs

In [7]:
substinence_activity_df

,year,commname,resource,used,trying,hrvsting,giving,receving,xtotnum,xtotlbs,...,speclist,projid,projname,commcode,commhh,samphh,region,subreg,rescode,uCommMethodID
0,2003,Adak,Harbor Seal,NaN,NaN,NaN,NaN,NaN,4.0,224.0,...,1.0,158,Marine Mammals 2003,1,1.0,1.0,Southwest,Aleutians,300806000,1.0
1,2003,Adak,"Harbor Seal, Male",NaN,NaN,NaN,NaN,NaN,3.0,168.0,...,2.0,158,Marine Mammals 2003,1,1.0,1.0,Southwest,Aleutians,300806001,1.0
2,2003,Adak,"Harbor Seal, Female",NaN,NaN,NaN,NaN,NaN,1.0,56.0,...,2.0,158,Marine Mammals 2003,1,1.0,1.0,Southwest,Aleutians,300806002,1.0
3,2003,Adak,"Harbor Seal, Unknown Sex",NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,2.0,158,Marine Mammals 2003,1,1.0,1.0,Southwest,Aleutians,300806009,1.0
4,2003,Adak,Steller Sea Lion,NaN,NaN,NaN,NaN,NaN,1.0,200.0,...,1.0,158,Marine Mammals 2003,1,1.0,1.0,Southwest,Aleutians,301200000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196549,2013,Tolsona,Other Wild Greens,0.250,0.250,0.250,0.000,0.000,9.0,9.0,...,1.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,602038000,1786.0
196550,2013,Tolsona,Unknown Mushrooms,0.125,0.125,0.125,0.000,0.000,13.5,13.5,...,1.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,602040000,1786.0
196551,2013,Tolsona,Wood,0.750,0.750,0.750,0.375,0.250,259.5,0.0,...,2.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,604000000,1786.0
196552,2013,Tolsona,Wood [Non Commercial],0.125,0.125,0.000,0.000,0.125,0.0,0.0,...,1.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,604000002,1786.0
196553,2013,Tolsona,Other Wood,0.750,0.750,0.750,0.375,0.250,259.5,0.0,...,1.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,604099000,1786.0

In [8]:
resource_list = substinence_activity_df['resource'].unique().tolist()
resource_list

['Harbor Seal',
 'Harbor Seal, Male',
 'Harbor Seal, Female',
 'Harbor Seal, Unknown Sex',
 'Steller Sea Lion',
 'Steller Sea Lion, Male',
 'Steller Sea Lion, Female',
 'Steller Sea Lion, Unknown Sex',
 'All Resources',
 'Fish',
 'Salmon',
 'Chum Salmon',
 'Coho Salmon',
 'Chinook Salmon',
 'Pink Salmon',
 'Sockeye Salmon',
 'Non-Salmon Fish',
 'Herring',
 'Bass',
 'Sea Bass',
 'Cod',
 'Walleye Pollock (whiting)',
 'Unknown Cod',
 'Flounder',
 'Halibut',
 'Rockfish',
 'Red Rockfish',
 'Unknown Rockfish',
 'Sculpin',
 'Sole',
 'Char',
 'Dolly Varden',
 'Trout',
 'Steelhead',
 'Land Mammals',
 'Large Land Mammals',
 'Brown Bear',
 'Caribou',
 'Deer',
 'Elk',
 'Goat',
 'Moose',
 'Small Land Mammals',
 'Beaver',
 'Fox',
 'Hare',
 'Land Otter',
 'Weasel',
 'Marine Mammals',
 'Seal',
 'Birds and Eggs',
 'Migratory Birds',
 'Ducks',
 'Geese',
 'Other Birds',
 'Upland Game Birds',
 'Ptarmigan',
 'Bird Eggs',
 'Marine Invertebrates',
 'Chitons (bidarkis, gumboots)',
 'Clams',
 'Butter Clams',
 'Horse Clams (Gaper)',
 'Razor Clams',
 'Cockles',
 'Crabs',
 'Dungeness Crab',
 'King Crab',
 'Tanner Crab',
 'Geoducks',
 'Mussels',
 'Octopus',
 'Scallops',
 'Sea Urchin',
 'Shrimp',
 'Vegetation',
 'Berries',
 'Plants/Greens/Mushrooms',
 'Seaweed/Kelp',
 'Fish [CF Retention]',
 'Fish [Rod and Reel]',
 'Fish [Other Gear]',
 'Salmon [CF Retention]',
 'Salmon [Rod and Reel]',
 'Salmon [Other Gear]',
 'Chum Salmon [CF Retention]',
 'Chum Salmon [Rod and Reel]',
 'Chum Salmon [Other Gear]',
 'Coho Salmon [CF Retention]',
 'Coho Salmon [Rod and Reel]',
 'Coho Salmon [Other Gear]',
 'Chinook Salmon [CF Retention]',
 'Chinook Salmon [Rod and Reel]',
 'Chinook Salmon [Other Gear]',
 'Pink Salmon [CF Retention]',
 'Pink Salmon [Rod and Reel]',
 'Pink Salmon [Other Gear]',
 'Sockeye Salmon [CF Retention]',
 'Sockeye Salmon [Rod and Reel]',
 'Sockeye Salmon [Other Gear]',
 'Non-Salmon [CF Retention]',
 'Non-Salmon [Rod and Reel]',
 'Non-Salmon [Other Gear]',
 'Herring [CF Retention]',
 'Herring [Rod and Reel]',
 'Herring [Other Gear]',
 'Herring Roe',
 'Herring Roe [Rod and Reel]',
 'Herring Roe [Other Gear]',
 'Herring Spawn on Kelp',
 'Herring Spawn on Kelp [Rod and Reel]',
 'Herring Spawn on Kelp [Other Gear]',
 'Bass [Rod and Reel]',
 'Bass [Other Gear]',
 'Sea Bass [Rod and Reel]',
 'Sea Bass [Other Gear]',
 'Cod [Rod and Reel]',
 'Cod [Other Gear]',
 'Pacific Tom Cod',
 'Pacific Tom Cod [Rod and Reel]',
 'Pacific Tom Cod [Other Gear]',
 'Walleye Pollock (whiting) [Rod and Reel]',
 'Walleye Pollock (whiting) [Other Gear]',
 'Unknown Cod [Rod and Reel]',
 'Unknown Cod [Other Gear]',
 'Eel',
 'Eel [Rod and Reel]',
 'Eel [Other Gear]',
 'Flounder [Rod and Reel]',
 'Flounder [Other Gear]',
 'Halibut [CF Retention]',
 'Halibut [Rod and Reel]',
 'Halibut [Other Gear]',
 'Rockfish [Rod and Reel]',
 'Rockfish [Other Gear]',
 'Red Rockfish [Rod and Reel]',
 'Red Rockfish [Other Gear]',
 'Unknown Rockfish [Rod and Reel]',
 'Unknown Rockfish [Other Gear]',
 'Sculpin [Rod and Reel]',
 'Sculpin [Other Gear]',
 'Irish Lord',
 'Irish Lord [Rod and Reel]',
 'Irish Lord [Other Gear]',
 'Shark',
 'Shark [Rod and Reel]',
 'Shark [Other Gear]',
 'Sole [Rod and Reel]',
 'Sole [Other Gear]',
 'Char [Rod and Reel]',
 'Char [Other Gear]',
 'Dolly Varden [Rod and Reel]',
 'Dolly Varden [Other Gear]',
 'Lake Trout',
 'Lake Trout [Rod and Reel]',
 'Lake Trout [Other Gear]',
 'Trout [Rod and Reel]',
 'Trout [Other Gear]',
 'Rainbow Trout',
 'Rainbow Trout [Rod and Reel]',
 'Rainbow Trout [Other Gear]',
 'Steelhead [Rod and Reel]',
 'Steelhead [Other Gear]',
 'Unknown Trout',
 'Unknown Trout [Rod and Reel]',
 'Unknown Trout [Other Gear]',
 'Dall Sheep',
 'Red Fox',
 'Red Fox - Red Phase',
 'Feral Animals',
 'Reindeer - Feral',
 'Sea Otter',
 'Whale',
 'Black Fin Whale',
 'Marine Invertebrates [CF Retention]',
 'Marine Invertebrates [Non Commercial Gear]',
 'Chitons (bidarkis, gumboots) [Non Commercial Gear]',
 'Red (large) Chitons',
 'Red (large) Chitons [Non Commercial Gear]',
 'Clams [Non Commercial Gear]',
 'Butter Clams [Non Commercial Gear]',
 'Horse Clams (Gaper) [Non Commercial Gear]',
 'Razor Clams [Non Commercial Gear]',
 'Cockles [Non Commercial Gear]',
 'Crabs [CF Retention]',
 'Crabs [Non Commercial Gear]',
 'Dungeness Crab [CF Retention]',
 'Dungeness Crab [Non Commercial Gear]',
 'King Crab [CF Retention]',
 'King Crab [Non Commercial Gear]',
 'Tanner Crab [CF Retention]',
 'Tanner Crab [Non Commercial Gear]',
 'Geoducks [Non Commercial Gear]',
 'Limpets',
 'Limpets [Non Commercial Gear]',
 'Mussels [Non Commercial Gear]',
 'Octopus [Non Commercial Gear]',
 'Scallops [Non Commercial Gear]',
 'Sea Cucumber',
 'Sea Cucumber [Non Commercial Gear]',
 'Sea Urchin [Non Commercial Gear]',
 'Shrimp [CF Retention]',
 'Shrimp [Non Commercial Gear]',
 'Snails',
 'Snails [Non Commercial Gear]',
 'Unknown Salmon',
 'Unknown Salmon [CF Retention]',
 'Unknown Salmon [Rod and Reel]',
 'Unknown Salmon [Other Gear]',
 'Herring Roe [CF Retention]',
 'Herring Roe/Unspecified',
 'Herring Roe/Unspecified [Rod and Reel]',
 'Herring Roe/Unspecified [Other Gear]',
 'Herring Spawn on Kelp [CF Retention]',
 'Smelt',
 'Smelt [Rod and Reel]',
 'Smelt [Other Gear]',
 'Eulachon (hooligan, candlefish)',
 'Eulachon (hooligan, candlefish) [Rod and Reel]',
 'Eulachon (hooligan, candlefish) [Other Gear]',
 'Rainbow Smelt',
 'Rainbow Smelt [Rod and Reel]',
 'Rainbow Smelt [Other Gear]',
 'Cod [CF Retention]',
 'Pacific Cod (gray)',
 'Pacific Cod (gray) [CF Retention]',
 'Pacific Cod (gray) [Rod and Reel]',
 'Pacific Cod (gray) [Other Gear]',
 'Walleye Pollock (whiting) [CF Retention]',
 'Flounder [CF Retention]',
 'Greenling',
 'Greenling [Rod and Reel]',
 'Greenling [Other Gear]',
 'Rockfish [CF Retention]',
 'Black Rockfish',
 'Black Rockfish [CF Retention]',
 'Black Rockfish [Rod and Reel]',
 'Black Rockfish [Other Gear]',
 'Red Rockfish [CF Retention]',
 'Sablefish (black cod)',
 'Sablefish (black cod) [CF Retention]',
 'Sablefish (black cod) [Rod and Reel]',
 'Sablefish (black cod) [Other Gear]',
 'Skates',
 'Skates [Rod and Reel]',
 'Skates [Other Gear]',
 'Snowshoe Hare',
 'Unknown Whale',
 'Bufflehead',
 'Eider',
 'Goldeneye',
 'Harlequin',
 'Mallard',
 'Merganser',
 'Long-tailed Duck (Oldsquaw)',
 'Northern Pintail',
 'Scaup',
 'Scoter',
 'Teal',
 'Wigeon',
 'Unknown Ducks',
 'Brant',
 'Canada Geese',
 'Emperor Geese',
 'Snow Geese',
 'White-fronted Geese',
 'Crane',
 'Shorebirds',
 "Wilson's Snipe",
 'Seabirds & Loons',
 'Gulls',
 'Grouse',
 'Duck Eggs',
 'Seabird & Loon Eggs',
 'Gull Eggs',
 'Tern Eggs',
 'Unknown Eggs',
 'Black (small) Chitons',
 'Black (small) Chitons [Non Commercial Gear]',
 'Pacific Littleneck Clams (Steamers)',
 'Pacific Littleneck Clams (Steamers) [Non Commercial Gear]',
 'Pinkneck Clams',
 'Pinkneck Clams [Non Commercial Gear]',
 'Octopus [CF Retention]',
 'Scallops [CF Retention]',
 'Sea Cucumber [CF Retention]',
 'Sea Urchin [CF Retention]',
 'Squid',
 'Squid [Non Commercial Gear]',
 'Wood',
 'Eel [CF Retention]',
 'Arrow Tooth Flounder (turbot)',
 'Arrow Tooth Flounder (turbot) [CF Retention]',
 'Arrow Tooth Flounder (turbot) [Rod and Reel]',
 'Arrow Tooth Flounder (turbot) [Other Gear]',
 'Unknown Flounder',
 'Unknown Flounder [CF Retention]',
 'Unknown Flounder [Rod and Reel]',
 'Unknown Flounder [Other Gear]',
 'Greenling [CF Retention]',
 'Lingcod',
 'Lingcod [CF Retention]',
 'Lingcod [Rod and Reel]',
 'Lingcod [Other Gear]',
 'Unknown Greenling',
 'Unknown Greenling [Rod and Reel]',
 'Unknown Greenling [Other Gear]',
 'Perch',
 'Perch [CF Retention]',
 'Sea Perch',
 'Sea Perch [CF Retention]',
 'Unknown Rockfish [CF Retention]',
 'Sculpin [CF Retention]',
 'Irish Lord [CF Retention]',
 'Unknown Sculpin',
 'Unknown Sculpin [CF Retention]',
 'Unknown Sculpin [Rod and Reel]',
 'Unknown Sculpin [Other Gear]',
 'Shark [CF Retention]',
 'Salmon Shark',
 'Salmon Shark [CF Retention]',
 'Sole [CF Retention]',
 'Wolffish',
 'Wolffish [CF Retention]',
 'Char [CF Retention]',
 'Brook Trout',
 'Brook Trout [Rod and Reel]',
 'Brook Trout [Other Gear]',
 'Dolly Varden [CF Retention]',
 'Dolly Varden-Fingerling',
 'Dolly Varden-Fingerling [Rod and Reel]',
 'Dolly Varden-Fingerling [Other Gear]',
 'Unknown Char',
 'Unknown Char [Rod and Reel]',
 'Unknown Char [Other Gear]',
 'Grayling',
 'Grayling [Rod and Reel]',
 'Grayling [Other Gear]',
 'Trout [CF Retention]',
 'Steelhead [CF Retention]',
 'Bison',
 'Black Bear',
 'Deer, Male',
 'Deer, Female',
 'Deer, Sex Unknown',
 'Bowhead',
 'Humpback Whale',
 'Redhead Duck',
 'Unknown Geese',
 'Parakeet Auklet',
 'Eider Eggs',
 'Unknown Duck Eggs',
 'Shorebird Eggs',
 'Black Oystercatcher Eggs',
 'Kittiwake Eggs',
 'Puffin Eggs',
 'Unknown Clams',
 'Unknown Clams [Non Commercial Gear]',
 'Unknown Crab',
 'Unknown Crab [Non Commercial Gear]',
 'Jingles',
 'Jingles [Non Commercial Gear]',
 'Squid [CF Retention]',
 'Landlocked Salmon',
 'Landlocked Salmon [Rod and Reel]',
 'Landlocked Salmon [Other Gear]',
 'Herring Sac Roe',
 'Herring Sac Roe [CF Retention]',
 'Unknown Smelt',
 'Unknown Smelt [Rod and Reel]',
 'Unknown Smelt [Other Gear]',
 'Starry Flounder',
 'Starry Flounder [Rod and Reel]',
 'Starry Flounder [Other Gear]',
 'Unknown Greenling [CF Retention]',
 'Unknown Irish Lord',
 'Unknown Irish Lord [Rod and Reel]',
 'Unknown Irish Lord [Other Gear]',
 'Unknown Shark',
 'Unknown Shark [CF Retention]',
 'Unknown Shark [Rod and Reel]',
 'Unknown Shark [Other Gear]',
 'Unknown Sole',
 'Unknown Sole [CF Retention]',
 'Unknown Sole [Rod and Reel]',
 'Unknown Sole [Other Gear]',
 'Wolffish [Rod and Reel]',
 'Wolffish [Other Gear]',
 'Sturgeon',
 'Sturgeon [CF Retention]',
 'Unknown Sturgeon',
 'Unknown Sturgeon [CF Retention]',
 'Porpoise',
 'Harbor Seal (saltwater)',
 nan,
 'Migratory Birds - Spring',
 'Migratory Birds - Summer',
 'Migratory Birds - Fall',
 'Migratory Birds - Winter',
 'Migratory Birds - Season Unknown',
 'Ducks - Spring',
 'Ducks - Summer',
 'Ducks - Fall',
 'Ducks - Winter',
 'Ducks - Season Unknown',
 'Bufflehead - Spring',
 'Bufflehead - Summer',
 'Bufflehead - Fall',
 'Bufflehead - Winter',
 'Bufflehead - Season Unknown',
 'Gadwall',
 'Gadwall - Spring',
 'Gadwall - Summer',
 'Gadwall - Fall',
 'Gadwall - Winter',
 'Gadwall - Season Unknown',
 'Goldeneye - Spring',
 'Goldeneye - Summer',
 'Goldeneye - Fall',
 'Goldeneye - Winter',
 'Goldeneye - Season Unknown',
 'Unknown Goldeneye',
 'Unknown Goldeneye - Spring',
 'Unknown Goldeneye - Summer',
 'Unknown Goldeneye - Fall',
 'Unknown Goldeneye - Winter',
 'Unknown Goldeneye - Season Unknown',
 'Harlequin - Spring',
 'Harlequin - Summer',
 'Harlequin - Fall',
 'Harlequin - Winter',
 'Harlequin - Season Unknown',
 'Mallard - Spring',
 'Mallard - Summer',
 'Mallard - Fall',
 'Mallard - Winter',
 'Mallard - Season Unknown',
 'Merganser - Spring',
 'Merganser - Summer',
 'Merganser - Fall',
 'Merganser - Winter',
 'Merganser - Season Unknown',
 'Common Merganser',
 'Common Merganser - Spring',
 'Common Merganser - Summer',
 'Common Merganser - Fall',
 'Common Merganser - Winter',
 'Common Merganser - Season Unknown',
 'Long-tailed Duck (Oldsquaw) - Spring',
 'Long-tailed Duck (Oldsquaw) - Summer',
 'Long-tailed Duck (Oldsquaw) - Fall',
 'Long-tailed Duck (Oldsquaw) - Winter',
 'Long-tailed Duck (Oldsquaw) - Season Unknown',
 'Northern Pintail - Spring',
 'Northern Pintail - Summer',
 'Northern Pintail - Fall',
 'Northern Pintail - Winter',
 'Northern Pintail - Season Unknown',
 'Scaup - Spring',
 'Scaup - Summer',
 'Scaup - Fall',
 'Scaup - Winter',
 'Scaup - Season Unknown',
 'Unknown Scaup',
 'Unknown Scaup - Spring',
 'Unknown Scaup - Summer',
 'Unknown Scaup - Fall',
 'Unknown Scaup - Winter',
 'Unknown Scaup - Season Unknown',
 'Scoter - Spring',
 'Scoter - Summer',
 'Scoter - Fall',
 'Scoter - Winter',
 'Scoter - Season Unknown',
 'Black Scoter',
 'Black Scoter - Spring',
 'Black Scoter - Summer',
 'Black Scoter - Fall',
 'Black Scoter - Winter',
 'Black Scoter - Season Unknown',
 'Surf Scoter',
 'Surf Scoter - Spring',
 'Surf Scoter - Summer',
 'Surf Scoter - Fall',
 'Surf Scoter - Winter',
 'Surf Scoter - Season Unknown',
 'White-winged Scoter',
 'White-winged Scoter - Spring',
 'White-winged Scoter - Summer',
 'White-winged Scoter - Fall',
 'White-winged Scoter - Winter',
 'White-winged Scoter - Season Unknown',
 'Unknown Scoter',
 'Unknown Scoter - Spring',
 'Unknown Scoter - Summer',
 'Unknown Scoter - Fall',
 'Unknown Scoter - Winter',
 'Unknown Scoter - Season Unknown',
 'Teal - Spring',
 'Teal - Summer',
 'Teal - Fall',
 'Teal - Winter',
 'Teal - Season Unknown',
 'Green-Winged Teal',
 'Green-Winged Teal - Spring',
 'Green-Winged Teal - Summer',
 'Green-Winged Teal - Fall',
 'Green-Winged Teal - Winter',
 'Green-Winged Teal - Season Unknown',
 'Wigeon - Spring',
 'Wigeon - Summer',
 'Wigeon - Fall',
 'Wigeon - Winter',
 'Wigeon - Season Unknown',
 'American Wigeon',
 'American Wigeon - Spring',
 'American Wigeon - Summer',
 'American Wigeon - Fall',
 'American Wigeon - Winter',
 'American Wigeon - Season Unknown',
 'Unknown Ducks - Spring',
 'Unknown Ducks - Summer',
 'Unknown Ducks - Fall',
 'Unknown Ducks - Winter',
 'Unknown Ducks - Season Unknown',
 'Geese - Spring',
 'Geese - Summer',
 'Geese - Fall',
 'Geese - Winter',
 'Geese - Season Unknown',
 'Brant - Spring',
 'Brant - Summer',
 'Brant - Fall',
 'Brant - Winter',
 'Brant - Season Unknown',
 'Canada Geese  - Spring',
 'Canada Geese  - Summer',
 'Canada Geese  - Fall',
 'Canada Geese  - Winter',
 'Canada Geese  - Season Unknown',
 'Unknown Canada Geese',
 'Unknown Canada Geese - Spring',
 'Unknown Canada Geese - Summer',
 'Unknown Canada Geese - Fall',
 'Unknown Canada Geese - Winter',
 'Unknown Canada Geese - Season Unknown',
 'Emperor Geese - Spring',
 'Emperor Geese - Summer',
 'Emperor Geese - Fall',
 'Emperor Geese - Winter',
 'Emperor Geese - Season Unknown',
 'White-fronted Geese - Spring',
 'White-fronted Geese - Summer',
 'White-fronted Geese - Fall',
 'White-fronted Geese - Winter',
 'White-fronted Geese - Season Unknown',
 'Unknown Geese - Spring',
 'Unknown Geese - Summer',
 'Unknown Geese - Fall',
 'Unknown Geese - Winter',
 'Unknown Geese - Season Unknown',
 'Shorebirds - Spring',
 'Shorebirds - Summer',
 'Shorebirds - Fall',
 'Shorebirds - Winter',
 'Shorebirds - Season Unknown',
 "Wilson's Snipe - Spring",
 "Wilson's Snipe - Summer",
 "Wilson's Snipe - Fall",
 "Wilson's Snipe - Winter",
 "Wilson's Snipe - Season Unknown",
 'Seabirds & Loons - Spring',
 'Seabirds & Loons - Summer',
 'Seabirds & Loons - Fall',
 'Seabirds & Loons - Winter',
 'Seabirds & Loons - Season Unknown',
 'Auklet',
 'Auklet - Spring',
 'Auklet - Summer',
 'Auklet - Fall',
 'Auklet - Winter',
 'Auklet - Season Unknown',
 'Parakeet Auklet - Spring',
 'Parakeet Auklet - Summer',
 'Parakeet Auklet - Fall',
 'Parakeet Auklet - Winter',
 'Parakeet Auklet - Season Unknown',
 'Gulls - Spring',
 'Gulls - Summer',
 'Gulls - Fall',
 'Gulls - Winter',
 'Gulls - Season Unknown',
 'Unknown Gull',
 'Unknown Gull - Spring',
 'Unknown Gull - Summer',
 'Unknown Gull - Fall',
 'Unknown Gull - Winter',
 'Unknown Gull - Season Unknown',
 'Murre',
 'Murre - Spring',
 'Murre - Summer',
 'Murre - Fall',
 'Murre - Winter',
 'Murre - Season Unknown',
 'Common Murre',
 'Common Murre - Spring',
 'Common Murre - Summer',
 'Common Murre - Fall',
 'Common Murre - Winter',
 'Common Murre - Season Unknown',
 'Puffins',
 'Puffins - Spring',
 'Puffins - Summer',
 'Puffins - Fall',
 'Puffins - Winter',
 'Puffins - Season Unknown',
 'Horned Puffin',
 'Horned Puffin - Spring',
 'Horned Puffin - Summer',
 'Horned Puffin - Fall',
 'Horned Puffin - Winter',
 'Horned Puffin - Season Unknown',
 'Tufted Puffin',
 'Tufted Puffin - Spring',
 'Tufted Puffin - Summer',
 'Tufted Puffin - Fall',
 'Tufted Puffin - Winter',
 'Tufted Puffin - Season Unknown',
 'Unknown Puffin',
 'Unknown Puffin - Spring',
 'Unknown Puffin - Summer',
 'Unknown Puffin - Fall',
 'Unknown Puffin - Winter',
 'Unknown Puffin - Season Unknown',
 'Other Birds - Spring',
 'Other Birds - Summer',
 'Other Birds - Fall',
 'Other Birds - Winter',
 'Other Birds - Season Unknown',
 'Upland Game Birds - Spring',
 'Upland Game Birds - Summer',
 'Upland Game Birds - Fall',
 'Upland Game Birds - Winter',
 'Upland Game Birds - Season Unknown',
 'Ptarmigan - Spring',
 'Ptarmigan - Summer',
 'Ptarmigan - Fall',
 'Ptarmigan - Winter',
 'Ptarmigan - Season Unknown',
 'Geese Eggs',
 'Unknown Geese Eggs',
 'Unknown Gull Eggs',
 'Unknown Seabird Eggs',
 'Clams [CF Retention]',
 'Pacific Littleneck Clams (Steamers) [CF Retention]',
 'Razor Clams [CF Retention]',
 'Unknown Cockles',
 'Unknown Cockles [Non Commercial Gear]',
 'Unknown King Crab',
 'Unknown King Crab [CF Retention]',
 'Tanner Crab, Bairdi',
 'Tanner Crab, Bairdi [Non Commercial Gear]',
 'Unknown Tanner Crab',
 'Unknown Tanner Crab [CF Retention]',
 'Unknown Jingles',
 'Unknown Jingles [Non Commercial Gear]',
 'Unknown Mussels',
 'Unknown Mussels [Non Commercial Gear]',
 'Weathervane Scallops',
 'Weathervane Scallops [Non Commercial Gear]',
 'Unknown Seaweed',
 'Unknown Cod [CF Retention]',
 'Yellow Eye Rockfish',
 'Yellow Eye Rockfish [Rod and Reel]',
 'Yellow Eye Rockfish [Other Gear]',
 'Bullhead Sculpin',
 'Bullhead Sculpin [Rod and Reel]',
 'Bullhead Sculpin [Other Gear]',
 'Dogfish',
 'Dogfish [Rod and Reel]',
 'Dogfish [Other Gear]',
 'Dolly Varden-unknown',
 'Dolly Varden-unknown [Rod and Reel]',
 'Dolly Varden-unknown [Other Gear]',
 'Large Land Mammals, Male',
 'Large Land Mammals, Female',
 'Large Land Mammals, Sex Unknown',
 'Brown Bear, Sex Unknown',
 'Caribou, Male',
 'Caribou, Female',
 'Caribou, Sex Unknown',
 'Elk, Male',
 'Elk, Female',
 'Elk, Sex Unknown',
 'Goat, Sex Unknown',
 'Moose, Male',
 'Moose, Female',
 'Moose,  Sex Unknown',
 'Wolf',
 'Marine Mammals, Male',
 'Marine Mammals, Female',
 'Marine Mammals, Unknown Sex',
 'Porpoise, Unknown Sex',
 'Unknown Porpoise',
 'Unknown Porpoise, Unknown Sex',
 'Seal, Male',
 'Seal, Female',
 'Seal, Unknown Sex',
 'Unknown Seal',
 'Unknown Seal, Unknown Sex',
 'Sea Otter, Unknown Sex',
 'Whale, Unknown Sex',
 'Unknown Whale, Unknown Sex',
 'Eider - Spring',
 'Eider - Summer',
 'Eider - Fall',
 'Eider - Winter',
 'Eider - Season Unknown',
 'Common Eider',
 'Common Eider - Spring',
 'Common Eider - Summer',
 'Common Eider - Fall',
 'Common Eider - Winter',
 'Common Eider - Season Unknown',
 'King Eider',
 'King Eider - Spring',
 'King Eider - Summer',
 'King Eider - Fall',
 'King Eider - Winter',
 'King Eider - Season Unknown',
 'Steller Eider',
 'Stellar Eider - Spring',
 'Steller Eider - Summer',
 'Steller Eider - Fall',
 'Steller Eider - Winter',
 'Steller Eider - Season Unknown',
 'Northern Shoveler',
 'Northern Shoveler - Spring',
 'Northern Shoveler - Summer',
 'Northern Shoveler - Fall',
 'Northern Shoveler - Winter',
 'Northern Shoveler - Season Unknown',
 'Unknown Teal',
 'Unknown Teal - Spring',
 'Unknown Teal - Summer',
 'Unknown Teal - Fall',
 'Unknown Teal - Winter',
 'Unknown Teal - Season Unknown',
 'Cacklers',
 'Cacklers - Spring',
 'Cacklers - Summer',
 'Cacklers - Fall',
 'Cacklers - Winter',
 'Cacklers - Season Unknown',
 'Swan',
 'Swan - Spring',
 'Swan - Summer',
 'Swan - Fall',
 'Swan - Winter',
 'Swan - Season Unknown',
 'Unknown Swan',
 'Unknown Swan - Spring',
 'Unknown Swan - Summer',
 'Unknown Swan - Fall',
 'Unknown Swan - Winter',
 'Unknown Swan - Season Unknown',
 'Crane - Spring',
 'Crane - Summer',
 'Crane - Fall',
 'Crane - Winter',
 'Crane - Season Unknown',
 'Sandhill Crane',
 'Sandhill Crane - Spring',
 'Sandhill Crane - Summer',
 'Sandhill Crane - Fall',
 'Sandhill Crane - Winter',
 'Sandhill Crane - Season Unknown',
 'Black Oystercatcher',
 'Black Oystercatcher - Spring',
 'Black Oystercatcher - Summer',
 'Black Oystercatcher - Fall',
 'Black Oystercatcher - Winter',
 'Black Oystercatcher - Season Unknown',
 'Unknown Auklet',
 'Unknown Auklet - Spring',
 'Unknown Auklet - Summer',
 'Unknown Auklet - Fall',

In [9]:
resources_to_keep = []

In [10]:
for i, resource in enumerate(resource_list):
    if 'Green' in str(resource):
        print(i, resource)

77 Plants/Greens/Mushrooms
230 Greenling
231 Greenling [Rod and Reel]
232 Greenling [Other Gear]
299 Greenling [CF Retention]
304 Unknown Greenling
305 Unknown Greenling [Rod and Reel]
306 Unknown Greenling [Other Gear]
374 Unknown Greenling [CF Retention]
503 Green-Winged Teal
504 Green-Winged Teal - Spring
505 Green-Winged Teal - Summer
506 Green-Winged Teal - Fall
507 Green-Winged Teal - Winter
508 Green-Winged Teal - Season Unknown
901 Beach Greens
1119 Unknown Greens From Land
1125 Greenling Roe
1126 Greenling Roe [Rod and Reel]
1127 Greenling Roe [Other Gear]
1175 Green-Winged Teal Eggs
1211 Unknown Greens From Sea
1243 Plants/Greens/Mushrooms [Non Commercial]
1382 Other Wild Greens
1450 Dandilion Greens
1454 Rock Greenling
1458 Green Sturgeon
1493 Rock Greenling [Rod and Reel]
1494 Rock Greenling [Other Gear]
1539 Green Sea Urchin
1540 Green Sea Urchin [Non Commercial Gear]
1642 Other Beach Greens
1726 Kelp Greenling
1727 Kelp Greenling [CF Retention]
1837 Kelp Greenling [Rod and Reel]
1838 Kelp Greenling [Other Gear]
1893 Rock Greenling [CF Retention]
1965 Other Wild Greens [Non Commercial]
1984 Greenland Halibut (greenland turbot)
1985 Greenland Halibut (greenland turbot) [CF Retention]
1986 Greenland Halibut (greenland turbot) [Rod and Reel]
1987 Greenland Halibut (greenland turbot) [Other Gear]

In [11]:
resources_to_keep.append(resource_list[9])

In [12]:
for i, resource in enumerate(resource_list):
    if 'Mam' in str(resource):
        print(i, resource)

34 Land Mammals
35 Large Land Mammals
42 Small Land Mammals
48 Marine Mammals
684 Large Land Mammals, Male
685 Large Land Mammals, Female
686 Large Land Mammals, Sex Unknown
699 Marine Mammals, Male
700 Marine Mammals, Female
701 Marine Mammals, Unknown Sex
1475 Unknown Marine Mammals
1768 Unknown Large Land Mammal
1889 Unknown Small Land Mammals/Furbearers
2004 Unknown Marine Mammals, Unknown Sex

In [13]:
resources_to_keep.append(resource_list[34])

In [14]:
for i, resource in enumerate(resource_list):
    if 'Marine' in str(resource):
        print(i, resource)

48 Marine Mammals
58 Marine Invertebrates
174 Marine Invertebrates [CF Retention]
175 Marine Invertebrates [Non Commercial Gear]
699 Marine Mammals, Male
700 Marine Mammals, Female
701 Marine Mammals, Unknown Sex
1104 Unknown Marine Invertebrates
1475 Unknown Marine Mammals
1479 Unknown Marine Invertebrates [CF Retention]
1480 Unknown Marine Invertebrates [Non Commercial Gear]
2004 Unknown Marine Mammals, Unknown Sex

In [15]:
resources_to_keep.append(resource_list[48])

In [16]:
for i, resource in enumerate(resource_list):
    if 'Bird' in str(resource):
        print(i, resource)

50 Birds and Eggs
51 Migratory Birds
54 Other Birds
55 Upland Game Birds
57 Bird Eggs
395 Migratory Birds - Spring
396 Migratory Birds - Summer
397 Migratory Birds - Fall
398 Migratory Birds - Winter
399 Migratory Birds - Season Unknown
634 Other Birds - Spring
635 Other Birds - Summer
636 Other Birds - Fall
637 Other Birds - Winter
638 Other Birds - Season Unknown
639 Upland Game Birds - Spring
640 Upland Game Birds - Summer
641 Upland Game Birds - Fall
642 Upland Game Birds - Winter
643 Upland Game Birds - Season Unknown
1205 Unknown Migratory Birds
1461 Upland Game Bird Eggs
1520 Unknown Upland Game Birds
1637 Unknown Other Birds
1638 Unknown Other Birds - Spring
1639 Unknown Other Birds - Summer
1640 Unknown Other Birds - Fall
1641 Unknown Other Birds - Winter
1769 Unknown Other Birds - Season Unknown
1832 Unknown Migratory Birds - Spring
1833 Unknown Migratory Birds - Summer
1834 Unknown Migratory Birds - Fall
1835 Unknown Migratory Birds - Winter
1836 Unknown Migratory Birds - Season Unknown
1859 Unknown Upland Game Birds - Spring
1860 Unknown Upland Game Birds - Summer
1861 Unknown Upland Game Birds - Fall
1862 Unknown Upland Game Birds - Winter
1863 Unknown Upland Game Birds - Season Unknown

In [17]:
resources_to_keep.append(resource_list[50])

In [18]:
resources_to_keep.append(resource_list[77])

In [19]:
for i, resource in enumerate(resource_list):
    if 'Fish' in str(resource):
        print(i, resource)

9 Fish
16 Non-Salmon Fish
79 Fish [CF Retention]
80 Fish [Rod and Reel]
81 Fish [Other Gear]
1471 Unknown Non-Salmon Fish

In [20]:
resources_to_keep

['Fish',
 'Land Mammals',
 'Marine Mammals',
 'Birds and Eggs',
 'Plants/Greens/Mushrooms']

In [21]:
substinence_activity_df = substinence_activity_df.loc[substinence_activity_df['resource'].isin(resources_to_keep)]

In [22]:
substinence_activity_df

,year,commname,resource,used,trying,hrvsting,giving,receving,xtotnum,xtotlbs,...,speclist,projid,projname,commcode,commhh,samphh,region,subreg,rescode,uCommMethodID
47,1982,Akhiok,Fish,1.000,NaN,1.000,0.571,0.714,6237.000000,27500.000000,...,2.0,19,Kodiak Island 1982,2,27.0,21.0,Southwest,Kodiak and Afognak Islands,100000000,7.0
72,1982,Akhiok,Land Mammals,0.952,NaN,0.905,0.619,0.810,111.000000,4247.000000,...,2.0,19,Kodiak Island 1982,2,27.0,21.0,Southwest,Kodiak and Afognak Islands,200000000,7.0
86,1982,Akhiok,Marine Mammals,1.000,NaN,0.952,NaN,NaN,143.000000,15768.000000,...,2.0,19,Kodiak Island 1982,2,27.0,21.0,Southwest,Kodiak and Afognak Islands,300000000,7.0
90,1982,Akhiok,Birds and Eggs,1.000,NaN,1.000,0.619,0.762,1587.000000,1380.000000,...,2.0,19,Kodiak Island 1982,2,27.0,21.0,Southwest,Kodiak and Afognak Islands,400000000,7.0
117,1982,Akhiok,Plants/Greens/Mushrooms,NaN,NaN,0.714,NaN,NaN,NaN,NaN,...,1.0,19,Kodiak Island 1982,2,27.0,21.0,Southwest,Kodiak and Afognak Islands,602000000,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196206,2013,Tolsona,Fish,1.000,0.750,0.750,0.625,1.000,4135.100098,4135.100098,...,2.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,100000000,1786.0
196331,2013,Tolsona,Land Mammals,0.875,0.500,0.250,0.500,0.750,2805.000000,2805.000000,...,2.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,200000000,1786.0
196367,2013,Tolsona,Marine Mammals,0.000,0.000,0.000,0.000,0.000,0.000000,0.000000,...,2.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,300000000,1786.0
196382,2013,Tolsona,Birds and Eggs,0.375,0.375,0.375,0.125,0.125,52.000000,52.000000,...,2.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,400000000,1786.0
196546,2013,Tolsona,Plants/Greens/Mushrooms,0.375,0.375,0.375,0.000,0.000,25.500000,25.500000,...,2.0,218,Susitna-Watana Hydro (Copper Basin),786,12.0,8.0,Southcentral,Copper River Basin,602000000,1786.0

### Selecting columns to keep

In [23]:
columns_to_keep = [
    "year", "commname", "region", "subreg",
    "resource", "used", "trying", "hrvsting", 
    "giving", "receving", "xtotnum", "xtotlbs", 
    "units", "numharv", "percap", "totlbhrv",
    "mupch", "pcttotal", "mupc", "xupc", "commhh"
]

substinence_activity_df = substinence_activity_df[columns_to_keep]

In [24]:
[x for x in substinence_activity_df.groupby('commname')['year']]

[('Akhiok',
  47      1982
  72      1982
  86      1982
  90      1982
  117     1982
  120     1986
  232     1986
  251     1986
  258     1986
  316     1986
  319     1989
  435     1989
  451     1989
  458     1989
  553     1989
  557     1992
  730     1992
  754     1992
  763     1992
  871     1992
  939     2003
  1134    2003
  1152    2003
  1161    2003
  1540    2003
  1553    2004
  1598    2018
  1728    2018
  1776    2018
  1804    2018
  2265    2018
  Name: year, dtype: int64),
 ('Akiachak',
  2289    1998
  2409    1998
  2437    1998
  2450    1998
  2805    1998
  Name: year, dtype: int64),
 ('Akiak',
  2813    2010
  2918    2010
  2950    2010
  2960    2010
  3195    2010
  Name: year, dtype: int64),
 ('Akutan',
  3220    1990
  3358    1990
  3380    1990
  3395    1990
  3503    1990
  3522    1996
  3799    2008
  3836    2008
  3863    2008
  3880    2008
  4014    2008
  Name: year, dtype: int64),
 ('Alakanuk',
  4028    1980
  4049    1980
  4065    1980
  4074    1980
  4093    2014
  4206    2015
  Name: year, dtype: int64),
 ('Alatna',
  4344    2002
  4364    2011
  4489    2011
  4527    2011
  4544    2011
  4717    2011
  Name: year, dtype: int64),
 ('Aleknagik',
  4724    1989
  4843    1989
  4867    1989
  4877    1989
  4994    1989
  5144    2008
  5280    2008
  5312    2008
  5325    2008
  5432    2008
  Name: year, dtype: int64),
 ('Allakaket',
  192370    2002
  192392    2011
  192517    2011
  192555    2011
  192575    2011
  192749    2011
  Name: year, dtype: int64),
 ('Allakaket/Alatna',
  5435    1982
  5454    1982
  5473    1982
  5485    1983
  5533    1983
  5551    1983
  5656    1984
  5704    1984
  5722    1984
  Name: year, dtype: int64),
 ('Ambler',
  5826    1997
  6367    2009
  6396    2012
  6465    2012
  6499    2012
  6509    2012
  6703    2012
  Name: year, dtype: int64),
 ('Anaktuvuk Pass',
  6737    1994
  6745    1994
  6761    1994
  6804    1996
  6814    1996
  6829    1996
  6861    1998
  6871    1998
  6886    1998
  6939    1999
  6947    1999
  6955    1999
  6973    2000
  6981    2000
  6986    2000
  7017    2001
  7025    2001
  7034    2001
  7050    2002
  7061    2002
  7075    2002
  7153    2011
  7281    2011
  7321    2011
  7342    2011
  7520    2011
  7529    2014
  7632    2014
  7692    2014
  7722    2014
  8066    2014
  Name: year, dtype: int64),
 ('Anderson',
  8178    1987
  8232    1987
  8262    1987
  8286    1987
  8289    2015
  8451    2015
  8521    2015
  8539    2015
  8806    2015
  Name: year, dtype: int64),
 ('Angoon',
  8818     1984
  8903     1984
  8927     1984
  8936     1984
  9002     1984
  9009     1987
  9089     1987
  9096     1987
  9100     1987
  9155     1987
  9175     1996
  9391     1996
  9437     1996
  9465     1996
  9678     1996
  9775     2012
  9901     2012
  9954     2012
  9969     2012
  10176    2012
  Name: year, dtype: int64),
 ('Aniak',
  10215    2001
  10231    2003
  10239    2004
  10247    2005
  10256    2009
  10291    2009
  10321    2009
  10329    2009
  10397    2009
  Name: year, dtype: int64),
 ('Anvik',
  10422    1990
  10436    1990
  10453    1990
  10478    1990
  10482    2002
  10510    2004
  10519    2011
  10633    2011
  10669    2011
  10679    2011
  10905    2011
  Name: year, dtype: int64),
 ('Arctic Village',
  10927    2000
  11124    2001
  11141    2002
  Name: year, dtype: int64),
 ('Atka',
  11156    1994
  11330    1994
  11347    1994
  11357    1994
  11583    1994
  Name: year, dtype: int64),
 ('Atqasuk',
  11691    1994
  11703    1994
  11711    1994
  11715    1994
  11764    1996
  11780    1996
  11792    1996
  11835    1997
  11850    1997
  11863    1997
  11866    1997
  11919    1997
  11939    2016
  12071    2017
  12199    2018
  Name: year, dtype: int64),
 ('Beaver',
  14248    1985
  14270    1985
  14291    1985
  14311    2000
  14508    2005
  14524    2011
  14649    2011
  14687    2011
  14704    2011
  14891    2011
  Name: year, dtype: int64),
 ('Beecher Pass',
  191320    1987
  191400    1987
  191407    1987
  191411    1987
  191466    1987
  Name: year, dtype: int64),
 ('Beluga',
  14899    2006
  14958    2006
  14986    2006
  14994    2006
  15073    2006
  Name: year, dtype: int64),
 ('Bethel',
  15076    2011
  15097    2012
  15235    2012
  15274    2012
  15286    2012
  15545    2012
  Name: year, dtype: int64),
 ('Bettles',
  192782    2011
  192910    2011
  192948    2011
  192965    2011
  193135    2011
  Name: year, dtype: int64),
 ('Bettles/Evansville',
  15581    1982
  15600    1982
  15620    1982
  15632    1983
  15680    1983
  15698    1983
  15803    1984
  15851    1984
  15869    1984
  15974    2002
  Name: year, dtype: int64),
 ('Birch Creek',
  15994    2000
  16194    2005
  16210    2018
  16333    2018
  16393    2018
  16411    2018
  16697    2018
  Name: year, dtype: int64),
 ('Brevig Mission',
  16711    1984
  16738    1984
  16765    1984
  16780    1984
  16814    1984
  16817    1989
  16887    1989
  16913    1989
  16926    1989
  17052    1989
  17055    1995
  17255    2000
  17273    2005
  17290    2006
  17402    2006
  17432    2006
  17488    2006
  17957    2006
  17979    2015
  Name: year, dtype: int64),
 ('Buckland',
  18000    1996
  18222    2003
  18251    2003
  18274    2003
  18288    2003
  18344    2003
  18349    2009
  18379    2016
  18401    2018
  18520    2018
  18572    2018
  18592    2018
  18941    2018
  Name: year, dtype: int64),
 ('Cantwell',
  18963    1982
  18992    1982
  19020    1982
  19036    1982
  19038    1999
  19073    1999
  19102    1999
  19109    1999
  19136    1999
  19138    2000
  19212    2012
  19343    2012
  19380    2012
  19399    2012
  19561    2012
  Name: year, dtype: int64),
 ('Canyon Village',
  193242    2000
  Name: year, dtype: int64),
 ('Central',
  19571    2005
  19589    2016
  19717    2016
  19775    2016
  19793    2016
  20068    2016
  Name: year, dtype: int64),
 ('Chalkyitsik',
  20084    2000
  Name: year, dtype: int64),
 ('Chase',
  20281    1986
  20322    1986
  20351    1986
  20356    1986
  20378    1986
  20381    2012
  20503    2012
  20540    2012
  20560    2012
  20725    2012
  Name: year, dtype: int64),
 ('Chenega',
  20735    1984
  20845    1984
  20866    1984
  20871    1984
  20936    1984
  20940    1985
  21027    1985
  21038    1985
  21042    1985
  21084    1985
  21087    1989
  21197    1989
  21217    1989
  21222    1989
  21297    1989
  21301    1990
  21466    1990
  21501    1990
  21511    1990
  21621    1990
  21625    1991
  21831    1991
  21858    1991
  21865    1991
  21970    1991
  21974    1992
  22170    1992
  22200    1992
  22208    1992
  22312    1992
  22316    1993
  22541    1993
  22569    1993
  22578    1993
  22743    1993
  22772    1997
  22990    1997
  23022    1997
  23033    1997
  23504    1997
  23519    2000
  23625    2003
  23829    2003
  23857    2003
  23867    2003
  24266    2003
  24309    2014
  24535    2014
  24597    2014
  24615    2014
  25005    2014
  Name: year, dtype: int64),
 ('Chevak',
  25029    2021
  25176    2021
  25217    2021
  25237    2021
  25689    2021
  Name: year, dtype: int64),
 ('Chickaloon',
  25707    1982
  25736    1982
  25764    1982
  25780    1982
  Name: year, dtype: int64),
 ('Chignik City',
  25782    1984
  25874    1984
  25900    1984
  25907    1984
  25972    1984
  25974    1989
  26110    1989
  26132    1989
  26141    1989
  26230    1989
  26234    1991
  26395    1991
  26417    1991
  26424    1991
  26509    1991
  26606    2003
  26800    2003
  26819    2003
  26827    2003
  27198    2003
  27241    2011
  27278    2011
  27283    2016
  27314    2016
  Name: year, dtype: int64),
 ('Chignik Lagoon',
  27333    1984
  27425    1984
  27451    1984
  27458    1984
  27523    1984
  27525    1989
  27661    1989
  27683    1989
  27692    1989
  27781    1989
  27882    2003
  28076    2003
  28095    2003
  28103    2003
  28474    2003
  28517    2011
  28550    2011
  28555    2016
  28586    2016
  Name: year, dtype: int64),
 ('Chignik Lake',
  28607    1984
  28699    1984
  28725    1984
  28732    1984
  28797    1984
  28799    1989
  28935    1989
  28957    1989
  28966    1989
  29055    1989
  29059    1991
  29220    1991
  29244    1991
  29251    1991
  29336    1991
  29439    2003
  29633    2003
  29652    2003
  29660    2003
  30043    2003
  30086    2011
  30125    2011
  30129    2016
  30160    2016
  Name: year, dtype: int64),
 ('Chiniak',
  184338    1982
  184363    1982
  184377    1982
  184381    1982
  184408    1982
  Name: year, dtype: int64),
 ('Chisana',
  30179    1982
  30208    1982
  30236    1982
  30252    1982
  30254    1987
  30394    1987
  30423    1987
  30453    1987
  Name: year, dtype: int64),
 ('Chistochina',
  30456    1982
  30485    1982
  30513    1982
  30529    1982
  30531    1987
  30671    1987
  30700    1987
  30730    1987
  30732    2000
  30806    2009
  30931    2009
  30967    2009
  31116    2009
  Name: year, dtype: int64),
 ('Chitina',
  31125    1982
  31154    1982
  31182    1982
  31198    1982
  31200    1987
  31340    1987
  31369    1987
  31399    1987
  31401    2000
  31475    2012
  31601    2012
  31637    2012
  31801    2012
  Name: year, dtype: int64),
 ('Chuathbaluk',
  31820    1983
  31841    2001
  31856    2003
  31864    2004
  31872    2005
  31881    2009
  31911    2009
  31939    2009
  31945    2009
  32010    2009
  Name: year, dtype: int64),
 ('Circle',
  32032    2000
  32229    2005
  32245    2017
  32369    2017
  32423    2017
  32441    2017
  32732    2017
  Name: year, dtype: int64),
 ('Clarks Point',
  32747    1989
  32853    1989
  32877    1989
  32886    1989
  32968    1989
  33118    2008
  33257    2008
  33290    2008
  33303    2008
  33411    2008
  Name: year, dtype: int64),
 ('Coffman Cove',
  182257    1987
  182337    1987
  182344    1987
  182348    1987
  182403    1987
  182407    1998
  182639    1998
  182692    1998
  182724    1998
  183113    1998
  Name: year, dtype: int64),
 ('Cold Bay',
  33415    2016
  33562    2016
  33614    2016
  33646    2016
  34096    2016
  Name: year, dtype: int64),
 ('Coldfoot',
  34112    2011
  34234    2011
  34272    2011
  34289    2011
  34455    2011
  Name: year, dtype: int64),
 ('Cooper Landing',
  34462    1990
  34632    1990
  34662    1990
  34671    1990
  34770    1990
  Name: year, dtype: int64),
 ('Copper Center',
  34774    1982
  34803    1982
  34831    1982
  34847    1982
  34849    1987
  34989    1987
  35018    1987
  35048    1987
  35050    2000
  35124    2010
  35263    2010
  35297    2010
  35453    2010
  Name: year, dtype: int64),
 ('Cordova',
  35466    1985
  35595    1985
  35618    1985
  35623    1985
  35682    1985
  35685    1988
  35823    1988
  35845    1988
  35851    1988
  35934    1988
  35938    1991
  36144    1991
  36171    1991
  36178    1991
  36283    1991
  36287    1992
  36483    1992
  36511    1992
  36519    1992
  36623    1992
  36627    1993
  36852    1993
  36880    1993
  36889    1993
  37062    1993
  37091    1997
  37321    1997
  37354    1997
  37365    1997
  37857    1997
  37905    2003
  38118    2003
  38147    2003
  38157    2003
  38564    2003
  38607    2014
  38833    2014
  38899    2014
  38917    2014
  39350    2014
  Name: year, dtype: int64),
 ('Craig',
  39381    1987
  39461    1987
  39468    1987
  39472    1987
  39527    1987
  39555    1997
  39768    1997
  39818    1997
  39850    1997
  40344    1997
  Name: year, dtype: int64),
 ('Crooked Creek',
  40430    2003
  40438    2004
  40446    2005
  40455    2009
  40487    2009
  40514    2009
  40520    2009
  40584    2009
  Name: year, dtype: int64),
 ('Deering',
  40604    1994
  40719    1994
  40741    1994
  40754    1994
  40972    1994
  40974    1997
  41506    2007
  41527    2013
  41616    2013
  41639    2013
  41649    2013
  41847    2013
  41858    2017
  Name: year, dtype: int64),
 ('Denali Park',
  101840    1987
  101894    1987
  101924    1987
  101948    1987
  101951    2015
  102111    2015
  102183    2015
  102201    2015
  102473    2015
  Name: year, dtype: int64),
 ('Dillingham',
  41884    1984
  41951    1984
  41970    1984
  41977    1984
  42165    2010
  42310    2010
  42358    2010
  42371    2010
  42613    2010
  42616    2014
  42657    2016
  42694    2021
  42867    2021
  42911    2021
  42937    2021
  43367    2021
  Name: year, dtype: int64),
 ('Diomede',
  43398    1995
  43544    2013
  43623    2013
  43653    2013
  43666    2013
  43835    2013
  Name: year, dtype: int64),
 ('Dot Lake',
  43848    1987
  43950    1987
  43979    1987
  44015    1987
  44017    2000
  44266    2011
  44389    2011
  44427    2011
  44584    2011
  Name: year, dtype: int64),
 ('Dry Creek',
  184411    2011
  184534    2011
  184572    2011
  184726    2011
  Name: year, dtype: int64),
 ('Eagle',
  44645    2017
  44769    2017
  44825    2017
  44843    2017
  45137    2017
  Name: year, dtype: int64),
 ('Eagle Village',
  190618    2000
  190815    2017
  190939    2017
  190993    2017
  191011    2017
  191304    2017
  Name: year, dtype: int64),
 ('East Glenn Highway',
  45163    1982
  45192    1982
  45220    1982
  45236    1982
  45238    1987
  45378    1987
  45407    1987
  45437    1987
  Name: year, dtype: int64),
 ('Edna Bay',
  45440    1987
  45520    1987
  45527    1987
  45531    1987
  45586    1987
  45590    1998
  45822    1998
  45875    1998
  45907    1998
  46170    1998
  Name: year, dtype: int64),
 ('Eek',
  46196    2005
  46225    2013
  46336    2013
  46369    2013
  46380    2013
  46617    2013
  Name: year, dtype: int64),
 ('Egegik',
  46637    1984
  46732    1984
  46758    1984
  46767    1984
  46831    1984
  46967    2014
  47148    2014
  47212    2014
  47250    2014
  47616    2014
  47638    2016
  47669    2016
  Name: year, dtype: int64),
 ('Ekwok',
  47688    1987
  47780    1987
  47803    1987
  47813    1987
  47887    1987
  Name: year, dtype: int64),
 ('Elfin Cove',
  47896    1987
  47976    1987
  47983    1987
  47987    1987
  48042    1987
  Name: year, dtype: int64),
 ('Elim',
  48045    1993
  48216    1999
  48229    2005
  48246    2006
  48358    2006
  48388    2006
  48444    2006
  48913    2006
  48936    2010
  Name: year, dtype: int64),
 ('Emmonak',
  48953    1980
  48973    1980
  48989    1980
  48998    1980
  49081    2008
  49122    2008
  49155    2008
  49175    2008
  49265    2008
  Name: year, dtype: int64),
 ('Evansville',
  184755    2011
  184883    2011
  184921    2011
  184940    2011
  185108    2011
  Name: year, dtype: int64),
 ('False Pass',
  53513    1988
  53621    1988
  53639    1988
  53647    1988
  53768    1988
  53787    1996
  Name: year, dtype: int64),
 ('Ferry',
  185115    2015
  185269    2015
  185337    2015
  185355    2015
  185617    2015
  Name: year, dtype: int64),
 ('Fort Yukon',
  54037    1987
  54085    1987
  54110    1987
  54158    1987
  54159    2000
  54359    2005
  54375    2017
  54498    2017
  54558    2017
  54576    2017
  54873    2017
  Name: year, dtype: int64),
 ('Fritz Creek Census Designated Place',
  54893    1998
  55077    1998
  55109    1998
  55119    1998
  55328    1998
  Name: year, dtype: int64),
 ('Gakona',
  55338    1982
  55367    1982
  55395    1982
  55411    1982
  55413    1987
  55553    1987
  55582    1987
  55612    1987
  55614    2000
  55688    2012
  55820    2012
  55856    2012
  56034    2012
  Name: year, dtype: int64),
 ('Galena',
  56044    1985
  56088    1985
  56115    1985
  56176    2006
  56194    2010
  56312    2010
  56345    2010
  56355    2010
  56583    2010
  Name: year, dtype: int64),
 ('Gambell',
  56605    1995
  56786    2006
  56898    2006
  56929    2006
  56985    2006
  57454    2006
  Name: year, dtype: int64),
 ('Game Creek Census Designated Place',
  185636    1996
  185852    1996
  185898    1996
  185926    1996
  186137    1996
  Name: year, dtype: int64),
 ('Glacier View',
  196131    1982
  196160    1982
  196188    1982
  196204    1982
  Name: year, dtype: int64),
 ('Glennallen',
  57477    1982
  57506    1982
  57534    1982
  57550    1982
  57552    1987
  57692    1987
  57721    1987
  57751    1987
  57754    2013
  57903    2013
  57939    2013
  57955    2013
  58125    2013
  Name: year, dtype: int64),
 ('Gold Creek',
  192232    1986
  192275    1986
  192304    1986
  192309    1986
  192331    1986
  Name: year, dtype: int64),
 ('Golovin',
  58141    1982
  58169    1982
  58193    1982
  58209    1982
  58237    1982
  58240    1989
  58310    1989
  58336    1989
  58349    1989
  58475    1989
  58479    2001
  58492    2010
  58509    2012
  58590    2012
  58626    2012
  58638    2012
  58829    2012
  Name: year, dtype: int64),
 ('Grayling',
  58847    1990
  58861    1990
  58878    1990
  58903    1990
  58907    2002
  58935    2004
  58944    2011
  59061    2011
  59097    2011
  59107    2011
  59333    2011
  Name: year, dtype: int64),
 ('Gulkana',
  59359    1982
  59388    1982
  59416    1982
  59432    1982
  59434    1987
  59574    1987
  59603    1987
  59633    1987
  59635    2000
  59709    2013
  59837    2013
  59873    2013
  59888    2013
  60043    2013
  Name: year, dtype: int64),
 ('Gustavus',
  60055    1987
  60135    1987
  60142    1987
  60146    1987
  60201    1987
  Name: year, dtype: int64),
 ('Haines',
  60205    1983
  60242    1983
  60268    1983
  60271    1983
  60296    1983
  60299    1987
  60379    1987
  60386    1987
  60390    1987
  60445    1987
  60465    1996
  60681    1996
  60727    1996
  60755    1996
  61223    1996
  61320    2012
  61454    2012
  61508    2012
  61524    2012
  61748    2012
  Name: year, dtype: int64),
 ('Healy',
  61794    1987
  61848    1987
  61878    1987
  61902    1987
  61905    2014
  62059    2014
  62129    2014
  62147    2014
  62428    2014
  Name: year, dtype: int64),
 ('Healy Lake',
  62445    2000
  Name: year, dtype: int64),
 ('Hollis',
  62642    1987
  62722    1987
  62729    1987
  62733    1987
  62788    1987
  62792    1998
  63024    1998
  63077    1998
  63109    1998
  63390    1998
  Name: year, dtype: int64),
 ('Holy Cross',
  63410    1990
  63424    1990
  63441    1990
  63466    1990
  63470    2002
  63495    2004
  Name: year, dtype: int64),
 ('Homer',
  63504    1982
  63572    1982
  63585    1982
  63588    1982
  63612    1982
  Name: year, dtype: int64),
 ('Hoonah',
  63761    1985
  63775    1985
  63778    1985
  63834    1985
  63840    1987
  63920    1987
  63927    1987
  63931    1987
  63986    1987
  64006    1996
  64222    1996
  64268    1996
  64296    1996
  64506    1996
  64603    2012
  64746    2012
  64801    2012
  64816    2012
  65028    2012
  65070    2016
  65203    2016
  65242    2016
  Name: year, dtype: int64),
 ('Hooper Bay',
  65334    2021
  65476    2021
  65516    2021
  65536    2021
  65963    2021
  Name: year, dtype: int64),
 ('Hope',
  65980    1990
  66152    1990
  66182    1990
  66191    1990
  66290    1990
  Name: year, dtype: int64),
 ('Hughes',
  66294    1982
  66313    1982
  66332    1982
  66344    2002
  66358    2014
  66466    2014
  66520    2014
  66546    2014
  66824    2014
  Name: year, dtype: int64),
 ('Hurricane-Broad Pass',
  192130    1986
  192173    1986
  192202    1986
  192207    1986
  192229    1986
  Name: year, dtype: int64),
 ('Huslia',
  66841    1983
  66855    1983
  66874    1983
  66885    1983
  66922    2002
  66944    2022
  67042    2022
  67076    2022
  67092    2022
  67403    2022
  Name: year, dtype: int64),
 ('Hydaburg',
  67440    1987
  67520    1987
  67527    1987
  67531    1987
  67586    1987
  67614    1997
  67824    1997
  67872    1997
  67904    1997
  68383    1997

## Save as csv

In [25]:
custom_data_directory = '../../data/custom_data'
substinence_activity_df.to_csv(os.path.join(custom_data_directory, 'adfg_custom.csv'))