# Dplace

In [2]:
import os
import pandas as pd

In [13]:
# Define directory paths
parent_data_directory = "../../data/" # relative directory position to this file
binford_data_directory = os.path.join(parent_data_directory, 'dplace-data/datasets/Binford')

# mashed file path:
bin_path = os.path.join(binford_data_directory, 'merged_binford.csv')

In [14]:
bindf = pd.read_csv(bin_path)
display(bindf)

,soc_id,pref_name_for_society,main_focal_year,glottocode,origLat,origLong,Lat,Long,var_id,category,title,definition,code,type,year,sub_case,units,source,changes,notes
0,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B001,"Subsistence, Economy, Property",Subsistence economy: Gathering,Group's dependence upon gathering of terrestri...,65.0,Continuous,1970.0,NaN,%,Binford (2001) Table 5.01; variable 'GATHERING',NaN,More detail on code definitions and variable i...
1,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B002,"Subsistence, Economy, Property",Subsistence economy: Hunting,Group's dependence upon hunting of terrestrial...,30.0,Continuous,1970.0,NaN,%,Binford (2001) Table 5.01; variable 'HUNTING',NaN,More detail on code definitions and variable i...
2,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B003,"Subsistence, Economy, Property",Subsistence economy: Fishing,Group's dependence upon fishing of aquatic org...,5.0,Continuous,1970.0,NaN,%,Binford (2001) Table 5.01; variable 'FISHING',NaN,More detail on code definitions and variable i...
3,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B004,"Subsistence, Economy, Property",Subsistence economy: Most important activity,Subsistence activity that provides the majorit...,2.0,Categorical,1970.0,NaN,NaN,Binford (2001) Table 5.01; variable 'SUBSP',NaN,More detail on code definitions and variable i...
4,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B005,"Subsistence, Economy, Property",Subsistence economy: Deviation from HGF at doc...,Character of a group's subsistence economy at ...,2.0,Categorical,1970.0,NaN,NaN,Binford (2001) Table 5.01; variable 'SUBPOP',NaN,More detail on code definitions and variable i...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13952,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B038,Politics,System state: typology of society's political ...,Variable represents a combination of data rela...,6.0,Categorical,1900.0,NaN,NaN,Binford (2001) Table 9.01; variable 'SYSSTATE',NaN,More detail on code definitions and variable i...
13953,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B039,Anthropometry,"Height (male, mm)",Stature (mm) - Male,1708.0,Continuous,1900.0,NaN,mm,Binford (2001) Table 6.03; variable 'STATURE (...,NaN,NaN
13954,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B040,Anthropometry,"Height (female, mm)",Stature (mm) - Female,NaN,Continuous,NaN,NaN,mm,Binford (2001) Table 6.03; variable 'STATURE (...,NaN,NaN
13955,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B041,Anthropometry,"Weight (male, kg)",Weight (kg) - Male,NaN,Continuous,NaN,NaN,kg,Binford (2001) Table 6.03; variable 'WEIGHT (K...,NaN,NaN
13956,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B042,Anthropometry,"Weight (female, kg)",Weight (kg) - Female,NaN,Continuous,NaN,NaN,kg,Binford (2001) Table 6.03; variable 'WEIGHT (K...,NaN,NaN

In [19]:
bvariables = bindf.loc[bindf['soc_id'] == 'B1', ['var_id', 'title', 'definition']]

bvariables_file = os.path.join(binford_data_directory, 'extr_variables.csv')
bvariables.to_csv(bvariables_file)

In [21]:

wnai_data_directory = os.path.join(parent_data_directory, 'dplace-data/datasets/WNAI')

wnai_path = os.path.join(wnai_data_directory, 'data.csv')

wdf = pd.read_csv(wnai_path)

In [22]:
wdf.columns

Index(['soc_id', 'sub_case', 'year', 'var_id', 'code', 'comment', 'references',
       'source_coded_data', 'admin_comment'],
      dtype='object')

In [30]:
wdf["year"] = wdf["year"].astype(str).str.strip()
bindf["year"] = bindf["year"].astype(str).str.strip()
common_years = set(wdf["year"]).intersection(set(bindf["year"]))

common_years

{'nan'}

In [29]:
print(wdf.columns)
print(bindf.columns)

Index(['soc_id', 'sub_case', 'year', 'var_id', 'code', 'comment', 'references',
       'source_coded_data', 'admin_comment'],
      dtype='object')
Index(['soc_id', 'pref_name_for_society', 'main_focal_year', 'glottocode',
       'origLat', 'origLong', 'Lat', 'Long', 'var_id', 'category', 'title',
       'definition', 'code', 'type', 'year', 'sub_case', 'units', 'source',
       'changes', 'notes'],
      dtype='object')

In [31]:
display(bindf)
display(wdf)

,soc_id,pref_name_for_society,main_focal_year,glottocode,origLat,origLong,Lat,Long,var_id,category,title,definition,code,type,year,sub_case,units,source,changes,notes
0,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B001,"Subsistence, Economy, Property",Subsistence economy: Gathering,Group's dependence upon gathering of terrestri...,65.0,Continuous,1970.0,NaN,%,Binford (2001) Table 5.01; variable 'GATHERING',NaN,More detail on code definitions and variable i...
1,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B002,"Subsistence, Economy, Property",Subsistence economy: Hunting,Group's dependence upon hunting of terrestrial...,30.0,Continuous,1970.0,NaN,%,Binford (2001) Table 5.01; variable 'HUNTING',NaN,More detail on code definitions and variable i...
2,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B003,"Subsistence, Economy, Property",Subsistence economy: Fishing,Group's dependence upon fishing of aquatic org...,5.0,Continuous,1970.0,NaN,%,Binford (2001) Table 5.01; variable 'FISHING',NaN,More detail on code definitions and variable i...
3,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B004,"Subsistence, Economy, Property",Subsistence economy: Most important activity,Subsistence activity that provides the majorit...,2.0,Categorical,1970.0,NaN,NaN,Binford (2001) Table 5.01; variable 'SUBSP',NaN,More detail on code definitions and variable i...
4,B1,Punan,1970,west2563,3.00,114.00,3.00,114.00,B005,"Subsistence, Economy, Property",Subsistence economy: Deviation from HGF at doc...,Character of a group's subsistence economy at ...,2.0,Categorical,1970.0,NaN,NaN,Binford (2001) Table 5.01; variable 'SUBPOP',NaN,More detail on code definitions and variable i...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13952,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B038,Politics,System state: typology of society's political ...,Variable represents a combination of data rela...,6.0,Categorical,1900.0,NaN,NaN,Binford (2001) Table 9.01; variable 'SYSSTATE',NaN,More detail on code definitions and variable i...
13953,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B039,Anthropometry,"Height (male, mm)",Stature (mm) - Male,1708.0,Continuous,1900.0,NaN,mm,Binford (2001) Table 6.03; variable 'STATURE (...,NaN,NaN
13954,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B040,Anthropometry,"Height (female, mm)",Stature (mm) - Female,NaN,Continuous,nan,NaN,mm,Binford (2001) Table 6.03; variable 'STATURE (...,NaN,NaN
13955,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B041,Anthropometry,"Weight (male, kg)",Weight (kg) - Male,NaN,Continuous,nan,NaN,kg,Binford (2001) Table 6.03; variable 'WEIGHT (K...,NaN,NaN
13956,B99,Mulluk,1900,mull1237,-13.58,130.58,-13.58,130.58,B042,Anthropometry,"Weight (female, kg)",Weight (kg) - Female,NaN,Continuous,nan,NaN,kg,Binford (2001) Table 6.03; variable 'WEIGHT (K...,NaN,NaN

,soc_id,sub_case,year,var_id,code,comment,references,source_coded_data,admin_comment
0,WNAI1,NaN,nan,WNAI8,2.0,NaN,delaguna1960; barnett1968; drucker1950; drucke...,"wn01.dat (World Cultures CD-ROM 2011, folder 1...",NaN
1,WNAI2,NaN,nan,WNAI8,2.0,NaN,delaguna1960; barnett1968; drucker1950; drucke...,"wn01.dat (World Cultures CD-ROM 2011, folder 1...",NaN
2,WNAI3,NaN,nan,WNAI8,2.0,NaN,drucker1940; drucker1950; drucker1965; krause1...,"wn01.dat (World Cultures CD-ROM 2011, folder 1...",NaN
3,WNAI4,NaN,nan,WNAI8,2.0,NaN,drucker1940; drucker1950; drucker1965; krause1...,"wn01.dat (World Cultures CD-ROM 2011, folder 1...",NaN
4,WNAI5,NaN,nan,WNAI8,2.0,NaN,barnett1968; drucker1940; drucker1950; drucker...,"wn01.dat (World Cultures CD-ROM 2011, folder 1...",NaN
...,...,...,...,...,...,...,...,...,...
73783,WNAI168,NaN,nan,WNAI438,1.0,NaN,dozier1966b; dozier1970; ortiz1969; parsons1929,"wn08.dat (World Cultures CD-ROM 2011, folder 1...",NaN
73784,WNAI169,NaN,nan,WNAI438,1.0,NaN,dozier1954; dozier1970; harrington1916; ortiz1...,"wn08.dat (World Cultures CD-ROM 2011, folder 1...",NaN
73785,WNAI170,NaN,nan,WNAI438,1.0,NaN,fenton1957; grant1925; parsons1936b,"wn08.dat (World Cultures CD-ROM 2011, folder 1...",NaN
73786,WNAI171,NaN,nan,WNAI438,1.0,NaN,euler1954; parsons1932a,"wn08.dat (World Cultures CD-ROM 2011, folder 1...",NaN
73787,WNAI172,NaN,nan,WNAI438,1.0,NaN,parsons1925; reiter1938; hawley1964,"wn08.dat (World Cultures CD-ROM 2011, folder 1...",NaN